body {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;

}

.logo_header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}


.nav {
    list-style-type: none;
    padding-left: 0;

}


.nav-link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(210, 210, 230, 0.92);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgba(245, 245, 247, 0.92);
}

@media (max-width: 1440px) {
    .nav {
        text-align: center;
        width: 20%;
        padding: 0 10px 0 10px;
    }
}
